.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 2px solid gray;
  margin-left: 30%;
  background-color: whitesmoke;
}

.contacts >div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts form{
  display: flex;
  flex-direction: column;
}

.contacts form div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contacts form div label{
  width: 40%;
}
    